@model ClientPatientManagement.Core.Model.Patient

@{
    ViewBag.Title = "Alta Pacientes";
   
}

<h2>Alta Paciente</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div style="background:#ffd274;" class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.ClientId, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClientId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Name,"Nombre Paciente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Gender,"Género", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="border: 1px solid black; border-radius: 5px; width:170px;" type="submit" value="Dar de Alta" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <br />
    <a style="font-weight:200; border-radius: 5px; background:#ffd274; text-decoration: none; color: black;" href="~/Patients/Index">VOLVER A LA LISTA PRINCIPAL</a>
</div>
